@font-face {
    font-family: Freight Big Pro;
    src: url(../font/FreightBigProLight-Regular/FreightBigProLight-Regular.ttf);
}

body {
    font-family: Freight Big Pro, serif;
    font-weight: bold;
    background-color: white;
    background-image: url(../images/backgrounds/angelbg.png);
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.top-right {
    width: 600px;
    height: 600px;
    /* background-color: green; */
}

.bottom-left {
    width: 600px;
    height: 600px;
    /* background-color: green; */
}

.top,
.bottom {
    display: flex;
    flex-direction: row;
}

.bottom {
    padding-top: 120px;
}